<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/head.html :: head(${title})"></head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<nav th:replace="layouts/nav.html"></nav>
		<!-- Main Sidebar Container -->
		<aside th:replace="layouts/aside.html"></aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div th:replace="layouts/content-header.html :: header('Quản lý khối')"></div>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">
								<i class="fas fa-chart-pie mr-1"></i>
								Danh sách quy định
							</h3>
						</div>
						<div class="card-body">
                            <div class="bg-light rounded-5 mt-3 p-5">
                                <form th:action="@{/regulations}"  id="regulation-form" th:object="${updateRegulation}" th:method="put">
                                <ol class="list-group list-group-numbered">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto">
                                        <div class="fw-bold">Độ tuổi tối thiểu</div>
                                        Độ tuổi tối thiểu mà học sinh được phép nhập học là <input  required type="number" id="minAge" th:value="${minAge}" th:name="minAge" min="1" class="border-0 text-center fit-content border-bottom">
                                      </div>
                        
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto">
                                        <div class="fw-bold">Độ tuổi tối đa</div>
                                        Độ tuổi tối đa mà học sinh được phép nhập học là <input required  type="number" id="maxAge" th:value="${maxAge}" th:name="maxAge" min="1" class="border-0 text-center fit-content border-bottom">
                                      </div>
                        
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto">
                                        <div class="fw-bold">Điểm đạt</div>
                                        Điểm đạt mỗi môn học là <input type="number" required  th:value="${passScore}" id="passScore" min="1" th:name="passScore" class="border-0 text-center fit-content border-bottom">
                                      </div>
                        
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                          <div class="fw-bold">Sĩ số các lớp</div>
                                          Điểm đạt mỗi môn học là <input type="number" required  th:value="${classCount}"  min="1" th:name="classCount" class="border-0 text-center fit-content border-bottom">
                                        </div>
                          
                                      </li>
                                  </ol>
                                  <button class="mt-3 btn btn-outline-primary float-end" type="submit">Lưu thay đổi</button>
                                  <div class="clearfix"></div>
                                </form>
                              
                            </div>
                        </div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<footer th:replace="layouts/footer.html"></footer>
	<script th:replace="layouts/script.html"></script>
</body>

</html>